/*global*/
.heading-site{
    text-align: center;
    font-family: 'Montserrat', sans-serif ;
}
body{
    background: radial-gradient(rgb(173, 127, 67),chocolate);
}

/*header*/
.header {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 70px;
    line-height: 50px;
    top: -5px;
    background-color: #000;
    position: fixed; z-index: 1;
}

.header .header-logo {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    float: left;
    margin-left: 30px;
    font-size: 2rem;
    margin-top: 10px;
}

.header .header-menu {
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}

.header .header-menu a {
    margin-right: 10px;
    color: #fff;
}

.header .header-menu a:hover {
    color: #a89ee6;
}

/*banner*/
.banner{
    margin: 0;
    padding: 0;
}
.banner .banner-img{
    position: relative;
}
.banner .banner-content{
    margin-top: 100px;
    width: 100%;
    text-align: center;
}
.banner .banner-content h1,
.banner .banner-content h2{
    color: #fff;
}
.subtitle{
    padding-top: 100px;
    padding-bottom: 10px;
}



/*about*/
.about .about-single-element{
    text-align: center;
}

.about .about-single-element p{
    text-align: left;
    margin-top: 20px;
}
.asus{
    width: 100%;
}


/*contact*/


.footer .footer-informations{
    text-align: center;
}

.footer .footer-informations ul li{
    display: inline-block;
    list-style-type: none;
    width: 100px;
    font-size: 2rem;
    margin-top: 30px;
}
/*test*/
.footer{
    background-color: transparent;
    padding:  5% 30%;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*resaux sociaux*/
.resaux-sociaux {
    height: 10vh;
    display: flex;
    justify-content: center;
}
.resaux-sociaux a{
    position: relative;
    margin: 0 20px;
    font-size: 3rem;
    height: 100px;
    width:100px ;
}
/* modal*/

.own-modal{
    padding: 120px 50px 0 0;
}
.modal-content{
    padding: 10px;
}
/* slide */
swiper-container {
    display: block;
    width: 100%;
}
swiper-slide {
    width: 50%;
    height: 50%;
    background-position: center;
    background-size: cover;
}

swiper-slide img {
    display: block;
    width: 100%;
}
/*------ canvas ---------*/
canvas{
    display: block;
}
#c{
    width: 100%;
    height: 100%;
}


/* responsive exemple*/
@media screen and (max-width: 400px) {
    /* #open-modal {
        display: none;
    } */
    #accueil{
        font-size: 0.8rem;
        align-items: center;
    }
    #header-menu{
        margin-top: -25px;
    }

}
