/*global*/
.heading-site{
    text-align: center;
    font-family: 'Montserrat', sans-serif ;
}
body{
    background-color: chocolate;
}
/*header*/
.header {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 70px;
    line-height: 70px;
    background-color: rgba(0, 0, 0, 0);

    top: 0;
}

.header .header-logo {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    float: left;
    margin-left: 30px;
}

.header .header-menu {
    float: right;
    margin-right: 30px;
}

.header .header-menu a {
    margin-right: 15px;
    color: #fff;
}

.header .header-menu a:hover {
    color: #a89ee6;
}
/*banner*/
.banner{
    margin-top: -20px;
}
.banner .banner-img{
    position: relative;
}
.banner .banner-content{

    width: 100%;
    text-align: center;
    top: 25%;
}
.banner .banner-content h1,
.banner .banner-content h2{
    color: #fff;
}
/*about*/
.about .about-single-element{
    text-align: center;
}

.about .about-single-element p{
    text-align: left;
    margin-top: 20px;
}
.asus{
    width: 100%;
}
/*contact*/
.inscription{
    padding: 50px;
}

.footer .footer-informations{
    text-align: center;
    margin-top: 30px;
}
.footer .footer-informations ul{
    padding: 0;
}
.footer .footer-informations ul li{
    display: inline-block;
    list-style-type: none;
    margin-top: 30px 0 50px 0;
}
/* modal*/
.own-modal{
    padding: 120px 50px 0 0;
}
.modal-background{
    background-color: #000;
}

.modal-card-title {
    font-size: 3rem;
    text-align: center;
}


